.scores-modal {
  background-color: var(--theme-background);
  border: 2px solid var(--theme-border);
  padding: 10px;
  width: 50%;
  min-width: 300px;

  &__title {
    margin: 0;
    text-align: center;
  }

  &__top-results {
    min-height: 200px;

    &__list {
      margin: 0;
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 3px;

      &__item {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border: 2px solid var(--theme-border);
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
  }
}
