.settings-modal {
  background-color: white;
  border: 2px solid gray;
  padding: 10px;
  width: 50%;
  min-width: 300px;
}

.settings-modal__title {
  margin: 0;
  text-align: center;
}

.settings-modal__settings {
  min-height: 200px;
}

.settings-modal__controls {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
