@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Audiowide&family=Cinzel&family=Creepster&family=DM+Sans&family=Montserrat&family=Orbitron&family=Pirata+One&family=UnifrakturCook&family=VT323&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 24px;
}

button {
  font-family: inherit;
}

.game-area {
  height: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.452);
}
