@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Audiowide&family=Cinzel&family=Creepster&family=DM+Sans&family=Montserrat&family=Orbitron&family=Pirata+One&family=UnifrakturCook&family=VT323&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: var(--theme-font-size);
  background-color: var(--theme-background);
  color: var(--theme-text);
  font-family: var(--theme-font);
}

button {
  color: var(--theme-text);
  background-color: var(--theme-background);
  border: 2px solid var(--theme-border);
  font-family: var(--theme-font);
  font-size: var(--theme-button-font-size);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:disabled {
    color: var(--theme-disabled);
    border-color: var(--theme-disabled);
    cursor: not-allowed;
  }

  @media (hover: hover) {
    &:enabled:hover {
      transform: scale(1.03);
    }
  }
}

a {
  text-decoration: none;
  color: var(--theme-text);

  &:hover {
    color: var(--theme-link);
  }
}

.game-area {
  height: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.452);
}
